.newbuild {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);

    &__form {
        background-color: white;
        padding: 20px;
        border-radius: 6px;
        width: 446px;

        &-title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 12px;
        }

        &-subtitle {
            font-weight: 400;
        }
        
        &-buttons {
            display: flex;
            margin-top: 12px;

            &-button {
                margin-right: 8px;
            }
        }
    }
}