$red: #FF3333;
$grey: #D9D9D9;

.textfield {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 8px;

        &-required {
            color: $red;
        }
    }

    &__input {
        padding: 9px 0 8px 11px;
        width: fit-content;
        border: 2px solid $grey;
        border-radius: 4px;
    }
}
