$red: #FF3333;
$grey: #D9D9D9;
$placeholder: #CCCCCC;

.textfield {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    max-width: 474px;
    position: relative;

    &-inline {
        flex-direction: row;
        align-items: center;
        display: inline-flex;
        padding: 12px 0;
    }

    &__label {
        margin-bottom: 8px;

        &-inline {
            margin-bottom: 0;
            margin-right: 8px;
        }

        &-required {
            color: $red;
        }
    }

    &__input {
        padding: 9px 11px 8px 11px;
        border: 2px solid $grey;
        border-radius: 4px;
        outline: none;

        &-error {
            border: 2px solid $red;
        }

        &-inline {
            margin-right: 8px;
            width: 52px;
            text-align: right;
        }

        &::-webkit-input-placeholder { 
            color: $placeholder; 
        }
    }

    &__clear {
        position: absolute;
        bottom: 8px;
        right: 0;
        padding: 0;
        height: 16px;
        margin: 10px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}
