$yellow: #FFCC00;
$yellow-hovered: #F2C200;
$yellow-border: #B38F00;

$grey: #E6E6E6;
$grey-hovered: #DBDBDB;
$grey-border: #B3B3B3;

button {
    padding: 8px 18px 9px 18px;
    border: 2px solid transparent;
    border-radius: 4px;
    
    background-color: $yellow;

    &:hover {
        background-color: $yellow-hovered;
    }

    &:focus {
        border: 2px solid $yellow-border;
    }
}

.secondary {
    background-color: $grey;

    &:hover {
        background-color: $grey-hovered;
    }

    &:focus {
        border: 2px solid $grey-border;
    }
}
