$grey: #E6E6E6;
$grey-hovered: #DBDBDB;
$grey-border: #B3B3B3;

$icon: #111111;

.iconbutton {
    padding: 6px;
    border: 2px solid transparent;
    border-radius: 4px;
    align-items: center;
    display: flex;
    background-color: $grey;
    height: 12px;
    box-sizing: content-box;

    &:hover {
        background-color: $grey-hovered;
    }

    &:focus {
        border: 2px solid $grey-border;
    }

    &__text {
        margin-left: 5px;
        margin-right: 5px;

        @media screen and (max-width: 320px) {
            display: none;
        }
    }
}
