$background: #F0F2F3;
$text: #7F8285;
$text-hover: #E00000;

footer {
    flex: 0 0 auto;
    background-color: $background;
}

.footer {
    max-width: 824px;
    margin: auto;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 320px) {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }

    &__nav {
        @media screen and (max-width: 320px) {
            margin-bottom: 8px;
        }

        &-item {
            margin-right: 12px;
            color: $text;
            text-decoration: none;

            &:hover {
                color: $text-hover;
            }
        }
    }

    &__copyright {
        color: $text;
    }
}