$backgtound: #F2F2F2;

.logs {
    margin-top: 6px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background-color: $backgtound;
    height: -webkit-fill-available;
    padding: 8px 12px;
}
