.start {
    text-align: center;
    margin: auto;

    &__subtitle {
        font-weight: 400;
        line-height: 125%;
        width: 55%;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 24px;

        @media screen and (max-width: 320px) {
            width: 70%;
        }
    }
}